@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');


body {
    margin: 0;
    font-family: 'Caveat', cursive;
    font-size: large;
}

h1 {
    text-align: center;
}

#tab-content {
    padding: 30px;
}

.navbar {  
    width: 100%;  
    overflow: hidden;   
    background-color: rgb(170, 170, 170);
    
}

.nav-list {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.nav-item {
    padding:17px;
    float:left;
}

.nav-item:hover {
    background-color: rgb(255, 255, 255);
}

.tab-text {
    max-width: 500px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(170, 170, 170);
    text-align: center;
}

.tab-content {
    
}

.active {
    background-color: rgb(255, 255, 255);
}

.logo {
    height: 50px;
    margin-right: 20px;
    float:right;
}
@media screen and (max-width: 400px) {

    .nav-list {
        margin: 0;
    }

    .logo {
        display: none;
    }

    .nav-item {
        text-align: center;
        float:none;
        border-bottom: 1px solid rgb(82, 82, 82);
    }
}